<!DOCTYPE html>
<html lang="ja">
	<$- include('partials/_head', { title: 'title' }) $>
<body>
	<div class="bgWrapper">
		<div class="bg"></div>
		<!-- <img src="<%= require('../img/background.jpg') %>"> -->
	</div>
	<div class="intro">
		<h1>Hello World!</h1>
	</div>
</body>
</html>
